<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 此为spring的配置文件，路径由web.xml指定。
         主要配置spring beans，spring IOC容器里所有的bean都是可以自动注入的 -->

    <!-- springMVC的IOC容器指定的bean可以自动注入spring IOC容器里的bean
         但是反之则不行，主要是因为springMVC容器与spring是父子容器的关系-->

    <!-- 加载配置属性文件 -->
    <context:property-placeholder ignore-unresolvable="true" location="classpath:conf.properties"/>

    <!-- 启用 @AspectJ -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>


    <!-- 过滤掉@Controller注解防止其与spring-mvc冲突-->
    <context:component-scan base-package="com.yincongyang.spring">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

</beans>